section#contact
  position: relative
  z-index: 5
  overflow: hidden
  height: auto
  .message
    font-size: 1.5rem
  #submit-success, #submit-error
    font-style: italic
    text-align: center
    font-size: 1.1rem
  #submit-error
    color: $orange2
  form
    margin: 40px 0
    width: 100%
    input
      flex-grow: 1
      transition: all 300ms ease-in-out
      &#name
        margin-right: 20px
        transform: translateX(-2000px)
        &.active
          transform: none
      &#email
        transform: translateX(2000px)
        &.active
          transform: none
      &#submit
        width: 50%
        opacity: 0
        &.active
          opacity: 1
    textarea
      transition: all 300ms ease-in-out
      width: 100%
      margin: 20px 0 60px 0
      transform: translateY(2000px)
      &.active
        transform: none

  .social-container.flex.justify-center.v-align-center
    padding-bottom: 10px
    a
      img
        width: 70px
  &.nojs
    form
      input
        &#name
          transform: none
        &#email
          transform: none
        &#submit
          opacity: 1
      textarea
        transform: none

@media only screen and (max-width: 992px)
  section#contact
    .social-container.flex.justify-center.v-align-center
      padding-bottom: 10px
      a
        img
          width: 60px

@media only screen and (max-width: 575px)
  section#contact
    .message
      font-size: 1rem
    #submit-success, #submit-error
      font-size: 1.1rem
    form
      // display: flex
      // flex-direction: column
      margin: 40px 0
      .contact-info
        flex-direction: column
      input
        &#name
          margin-right: 0
          margin-bottom: 20px
          width: auto
        &#submit
          display: block
          width: 80%
          max-width: 80%
      textarea
        margin: 20px 0 30px 0
    .social-container.flex.justify-center.v-align-center
      padding-bottom: 10px
      margin-top: 30px
      a
        img
          width: 40px
