section#contact
  position: relative
  z-index: 5
  overflow: hidden
  min-height: 100vh
  height: auto
  .message
    font-size: 1.5rem
  #submit-success, #submit-error
    font-style: italic
    text-align: center
    font-size: 1.1rem
  #submit-error
    color: $orange2
  form
    margin: 40px 0
    width: 100%
    input
      flex-grow: 1
      transition: all 300ms ease-in-out
      &#name
        margin-right: 20px
        transform: translateX(-2000px)
        &.active
          transform: none
      &#email
        transform: translateX(2000px)
        &.active
          transform: none
      &#submit
        width: 50%
        opacity: 0
        &.active
          opacity: 1
    textarea
      transition: all 300ms ease-in-out
      width: 100%
      margin: 20px 0 60px 0
      transform: translateY(2000px)
      &.active
        transform: none

  .social-container.flex.justify-center.v-align-center
    a
      img
        width: 70px
  &.nojs
    form
      input
        &#name
          transform: none
        &#email
          transform: none
        &#submit
          opacity: 1
      textarea
        transform: none
