section#about.nojs
  .circle
  .about-wrapper
    .wrapper
      .aboutme 
        p Hello! I'm Fabien, a French Web developer living in Japan since 2008.
        p Being in Japan offers me the possibility to learn everyday new things and learning,
          |be it cultural or technological stuff, is what I like the most. 
        p I spend most of my free time watching, learning and experimenting new code,
          |these days having fun studying more about JavaScript, React and Meteor.
        p For me, organization, commitment and passion are the pillars of excellent work, 
          |and thriving for improvement pushes me to do better, more efficient work every day.
   
    hr
    .wrapper
      .skills.flex.justify-center
        .skill-wrapper
          .skill HTML5 / CSS3
          .dots.flex.justify-between.v-align-center
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot
        .skill-wrapper
          .skill JavaScript / jQuery
          .dots.flex.justify-between.v-align-center
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot
        .skill-wrapper
          .skill Web Development
          .dots.flex.justify-between.v-align-center
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot
        .skill-wrapper
          .skill Web Design
          .dots.flex.justify-between.v-align-center
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot
            .dot
            .dot
        .skill-wrapper
          .skill Organization
          .dots.flex.justify-between.v-align-center
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot
            .dot
        .skill-wrapper
          .skill Learning
          .dots.flex.justify-between.v-align-center
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
            .dot.active
