<meta property="fb:app_id"                            content="375372212882234" />
<meta property="og:type"                              content="website" />
<meta property="og:url"                               content="https://fabiendeborde.com/" />
<meta property="og:title"                             content="Fabien Deborde | Web Developer / Lifelong Learner in 名古屋" />
<meta property="og:image"                             content="https://fabiendeborde.com/assets/img/home.png" />
<meta property="og:description"                       content="Fabien is a French Web developer living in Nagoya. Follow his work or just send him a message to get in touch!" />
