aside#sidebar
  header.flex.v-align-center.justify-between
    a(href="/", target="_blank").main-logo
      img(src="./assets/img/icons/logo.png", alt="Fabien Deborde's Logo, representing a F and a D surrounded by waves")
    .menu
      .menu-icon-wrapper.flex.column.justify-between
        .bar
        .bar
        .bar
      
  .main-content
    h1.accent-font.text-center Fabien Deborde
    h4.accent-font.text-center Web Developer / Lifelong Learner
    
    p Bonjour ! I'm Fabien, a French Web developer living in Nagoya.
      |Take a look at 
      a(href="#").accent-color my work 
      | or 
      a(href="#").accent-color my skills
      |, and if you want to get in touch, feel free to use the 
      a(href="#").accent-color contact form
      | below!
      |You can also follow me on the following networks!
    
    .social-container.text-center
      a(href="" target="_blank")
        img(src="./assets/img/icons/Twitter.png", alt="Twitter logo")
      a(href="" target="_blank")
        img(src="./assets/img/icons/GitHub.png", alt="GitHub logo")
      a(href="" target="_blank")
        img(src="./assets/img/icons/CodePen.png", alt="CodePen　logo")
      
  footer.text-center.accent-font 	&copy;2017, Fabien Deborde
    
