<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fabiendeborde">
<meta name="twitter:title" content="Fabien Deborde | Web Developer / Lifelong Learner in 名古屋">
<meta name="twitter:description" content="Fabien is a French Web developer living in Nagoya. Follow his work or just send him a message to get in touch!">
<meta name="twitter:image" content="https://fabiendeborde.com/assets/img/home.png">
