section#work
  h2.text-center.accent-font My Work
  .grid
    .grid-sizer
    .grid-item
      a
        img(src='./assets/img/screenshots/F45.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/realEstate.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/realEstate2.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/realEstate3.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/realEstate4.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/Kyo-Zen.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/calculator.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/pomodoro-sleek.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/twitch.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/weather.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/pomodoro-simple.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/simon-game.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/tictactoe.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/quote.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/buttons.png' alt='' title='')
    .grid-item
      a
        img(src='./assets/img/screenshots/wikiviewer.png' alt='' title='')
