section.work.section
  h2#work.text-center.accent-font My Work
  .grid
    .grid-sizer
    .grid-item
      img(src='./assets/img/screenshots/F45.png' alt='' title='')
      .hover-wrapper
        .hover-content 
          h4 Test
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .grid-item
      img(src='./assets/img/screenshots/realEstate.png' alt='' title='')
    .grid-item
      img(src='./assets/img/screenshots/realEstate2.png' alt='' title='')
    .grid-item
      img(src='./assets/img/screenshots/realEstate3.png' alt='' title='')
    .grid-item
      img(src='./assets/img/screenshots/realEstate4.png' alt='' title='')
    .grid-item
      img(src='./assets/img/screenshots/Kyo-Zen.png' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/calculator.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/pomodoro-sleek.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/twitch.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/screenshots/weather.png' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/pomodoro-simple.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/simon-game.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/tictactoe.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/screenshots/quote.png' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/buttons.gif' alt='' title='')
    .grid-item
      img(src='./assets/img/gifs/wikiviewer.gif' alt='' title='')
