<!DOCTYPE html>
html(lang="en")
  head
    link(href="" rel="canonical")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fabien Deborde | Web Developer / Lifelong Learner
    meta(name="keywords" content="")
      
    link(rel="icon", href="favicon.ico")

    // カスタムスタイル（minifiedバージョン）
    link(rel="stylesheet", href="./assets/css/main.css")
      
  body

    // Sidebar
    include ./assets/includes/_sidebar.jade
    // Sidebar (end)
    
    main
      .nojs.notice-message.text-center This site require JavaScript for a better user experience.
        
      // Work section
      include ./assets/includes/_work.jade
      // Work section (end)  
      
      // About section
      include ./assets/includes/_about.jade
      // About section (end)
      
      // Contact section
      include ./assets/includes/_contact.jade
      // Contact section (end)
   
    //script(src="./assets/js/vendors-dist.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://masonry.desandro.com/masonry.pkgd.js")
    script(src="https://imagesloaded.desandro.com/imagesloaded.pkgd.js")
    
    //メインカスタム JS
    script(src="./assets/js/main-dist.js")
